.header {
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: hsl(var(--clr-glass));
    backdrop-filter: blur(1rem);
}

.header-logo {
    margin-left: 30px;
    display: flex;
    align-items: center;
}

.header-logo img{
    width: 50px;
}

.header-logo h2{
    color: white;
    margin-left: 20px;
}

.list-items {
    display: flex;
    list-style: none;
    padding-block: 1.5rem;
    padding-inline: 3rem;
    gap: 2.5rem;
}

.list-items li a {
    color: var(--clr-white);
    text-decoration: none;
    text-transform: uppercase;
    padding-bottom: 1.2rem;
}
.list-items li a:hover {
    border-bottom: 3px solid var(--clr-white);
}

.list-items li a:focus {
    border-bottom: 3px solid var(--clr-white);
}

@media (max-width:1000px) {
    .header {
        align-items: baseline;
        z-index: 1000;
    }
}