

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

img,picture {
  max-width: 100%;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.navlink {
  color: white;
  font-family: 'Roboto';
}

.navlink:hover,
.active-link {
  color: rgb(224, 224, 224);
  padding-bottom: 10px;
  border-bottom: white 3px solid;
  
}

.hero-body {
  padding-top: 10em;
  color: white;
  text-align: center;
}

.hero-head {
  font-family: 'Righteous';
  background: -webkit-linear-gradient(rgb(216, 52, 249) 0%, rgb(134, 40, 109) 88%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-head2 {
  background: -webkit-linear-gradient(rgb(216, 52, 249) 0%, rgb(134, 40, 109) 88%);
  padding: 0 20px;
  border-radius: 20px;
  font-family: 'Roboto';
}

.hero {
  /* background: radial-gradient(circle, rgba(32,16,106,1) 0%, rgba(9,36,92,1) 88%); */
  background: radial-gradient(circle, rgba(21,9,78,1) 0%, rgba(3,23,65,1) 88%);
  height: 100vh;
}

.hero-cap {
  font-family: 'Roboto';
}



/* colors */

:root {
  --clr-white:#fff;
  --clr-light: 231 77% 90%;
  --clr-glass: 0, 17%, 76%, 0.114;
  --clr-darkblue:rgb(36, 50, 111);
  --clr-gray:hsl(0, 2%, 53%);
  --clr-bg: 0, 7%, 1%, 0.914;
  --sec-bg:rgba(0, 0, 0, 0.537),rgba(0, 0, 0, 0.27);
}
